body{
    /* background-color: #ffffff; */
    background-image: url('../images/dark-triangles.png')
    
}

.name{
    float: left;
    margin-left:  8%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;

    overflow: hidden;
    background-color: white;
    color: black;
    
}

ul{
    list-style-type: none;
    margin-right: 8%;
    margin-top: 0;
    padding-top: 15px;
    overflow: hidden;
    background-color: white;
}
li{
    display: inline;
    float: right;
}

header{
    border-bottom: 2px solid black;
    background: white;
}
.btn{
    margin-left: 10px;
    color: black;
}

a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 4px;
}





h2{
    clear: both;
    border-bottom: 1px solid darkgray;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

img{
    float: left;
    margin-left: 10px;
}

#main{
    width: 960px;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    background: white;
    height: 410px;
}
p{
    margin-left: 10px;
}

.proj{
    margin-left: 10%;
}

form{
    margin-left: 5%;
}
input{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}
textarea{
    width: 50%;
}
